$gridGap: .25rem;
$calendarDayWidth: calc((90vw / 7) - ($gridGap * 1));
$calendarDayMaxWidth: calc((1000px / 7) - ($gridGap * 1));

prayer-calendar {
    display: flex;
    justify-content: center;
}

.calendar {
    background-color: $primary-white;
    width: 1000px;
    max-width: 90vw;

    #context {
        text-align: center;
    }

    #month-header {
        display: flex;
        justify-content: space-between;

        h3 {
            margin: auto 2rem;
            min-width: 150px;
            text-align: center;
        }

        #btn-container {
            display: flex;

            .btn {
                border-radius: 50%;
                padding: .25rem;
                margin: auto 0;
                background-color: $primary-black;
                color: $primary-white;
                font-size: 16px;
                cursor: pointer;
                display: grid;
                place-items: center;
                border: none;
                height: max-content;
            }
        }

        #legend {
            display: flex;

            #empty-square,
            #filled-square {
                width: calc(($calendarDayWidth / 8) - 3px);
                max-width: calc(($calendarDayMaxWidth / 8) - 3px);
                height: calc(($calendarDayWidth / 8) - 3px);
                max-height: calc(($calendarDayMaxWidth / 8) - 3px);
                background-color: $secondary-white;
                border: 1px solid $primary-gray;
                margin: auto .25rem;
            }

            #filled-square {
                background-color: $accent-blue;
                margin-left: 1rem;
            }
        }
    }

    #weekdays {
        display: flex;
        gap: $gridGap;
        width: max-content;
        margin: 0 auto;

        p {
            width: $calendarDayWidth;
            max-width: $calendarDayMaxWidth;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            margin: 1rem 0;
        }
    }

    #days-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: $gridGap;
        place-items: center;
        width: 100%;
        margin: 1rem auto;
        margin-top: 0;

        .calendar-day {
            background-color: $primary-gray ;
            color: $primary-white;
            width: $calendarDayWidth;
            max-width: $calendarDayMaxWidth;
            height: $calendarDayWidth;
            max-height: $calendarDayMaxWidth;
            text-align: center;
            display: flex;
            flex-direction: column;

            .date {
                margin: .5rem 0 0 .5rem;
                font-weight: bold;
                text-transform: lowercase;
                text-align: left;
            }

            .community-title {
                margin: auto .25rem;
                font-size: 14px;
            }

            .hours-container {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                gap: 1px;
                margin: 1px;
                margin-top: auto;
                background-color: inherit;

                .hour {
                    background-color: $secondary-white;
                    box-sizing: border-box;
                    width: 100%;
                    aspect-ratio: 1 / 1;

                    &.booked {
                        background-color: $accent-blue;
                    }

                    position: relative;

                    &:hover::before,
                    &:hover::after {
                        display: block;
                        visibility: visible;
                    }

                    &::after {
                        display: none;
                        visibility: hidden;

                        content: attr(data-content);
                        color: $primary-black;
                        position: absolute;
                        width: max-content;
                        bottom: calc(100% + 3px);
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 999;

                        background-color: $primary-white;
                        box-shadow: 0 0 0 1px $primary-black;
                        border-radius: 2px;
                        padding: .25rem;
                    }

                    &::before {
                        display: none;
                        visibility: hidden;

                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        background-color: $primary-white;
                        border: 1px solid $primary-black;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        bottom: calc(100% - 2.5px);
                        left: 50%;
                        border-bottom-left-radius: 2px;
                        z-index: 1000;

                        transform-origin: bottom left;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}