<nav>
    <div class="logo-container">
        <a href="/">
            <img src="/assets/final-logo-transparent.png" alt="We Pray All Day">
        </a>
    </div>
    <div class="btn-container">
        <button onclick="toggleMenu()">
            <i class="material-icons icon">menu</i>
        </button>
    </div>
    <div class="nav-container closed">
        <ul class="links">
            <li><a class="link" href="/">Home</a></li>
            <li><a class="link" href="/notaboutus">Not About Us</a></li>
            <li><a class="link" href="/leaders">Leaders</a></li>
            <li><a class="link" href="/dashboard">Dashboard</a></li>
            <li><a class="link" id="logout-btn" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<script>
    const toggleMenu = () => {
        const dropdownContainerDOM = document.querySelector('.nav-container');
        dropdownContainerDOM.classList.toggle('closed')
    }

    document.querySelectorAll('.link').forEach(elem => {
        const url = elem.getAttribute("href");
        if (url == window.location.pathname) elem.classList.add('active')
    })
</script>