<nav>
    <div class="logo-container">
        <a href="/">
            <img src="/assets/final-logo-transparent.png" alt="">
        </a>
    </div>
    <div class="btn-container">
        <button onclick="toggleMenu()">
            <i class="material-icons icon">menu</i>
        </button>
    </div>
    <div class="nav-container closed">
        <ul class="links">
            <li><a href="/notaboutus">Not About Us</a></li>
            <li><a href="/leaders">Leaders</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a id="logout-btn" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<script>
    const toggleMenu = () => {
        const dropdownContainerDOM = document.querySelector('.nav-container');
        dropdownContainerDOM.classList.toggle('closed')
    }
</script>