.dash-container {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .btn {
        background-color: $accent-yellow;
        border: none;
        padding: 4px 16px;
        border-radius: 4px;
        cursor: pointer;
        color: currentColor;
    }
}

#info-form {
        
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    gap: 1rem;
    padding: 1rem;
    padding-top: 0;
    
    width: 800px;
    max-width: 90vw;
    margin: 1rem auto;

    box-sizing: border-box;
    .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        input, textarea {
            border: none;
            outline: 1px solid $primary-black;
            border: 1px solid $primary-black;
            resize: none;
            border-radius: 4px;
            margin: 4px 0;
            box-sizing: border-box;
            &:disabled {
                outline: none;
                border-color: transparent;
                background-color: white;
                color: black;
                opacity: 1;
            }
        }
        label {
            text-align: left;
            font-size: .8em;
        }
    }
    .btn-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 1rem;
        &:first-child {
            margin-left: auto;
        }
        .btn {
            background-color: $accent-yellow;
            border: none;
            padding: 4px 16px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    #cancel-btn, #submit-btn {
        display: none;
        visibility: hidden;
    }
    &.edit #cancel-btn, &.edit #submit-btn {
        display: block;
        visibility: visible;
    }
    &.edit #form-btn {
        display: none;
        visibility: hidden;
    }
    
    // .input-container {
    //     display: flex;
    //     flex-direction: column;
    //     margin-top: $form-font-size;
    //     width: calc(50% - .5rem);
    //     &.full-width {
    //         width: 100%;
    //     }
    //     @media screen and (max-width: 768px) {
    //         width: 100%;
    //     }

    //     position: relative;

    //     input, select, textarea {
    //         color: white !important;
    //         border: solid #FFFFFF66 1px!important;
    //         background-color: transparent !important;
    //         font-size: $form-font-size;
    //         border-radius: 2px;
    //         outline: none;
    //         padding: 4px 2px;

    //         height: 30px;
    //         box-sizing: border-box;

    //         & ~ label {
    //             transition: transform 100ms ease-in-out, color 100ms linear;
    //             padding: 4px;
    //             display: flex;
    //             align-items: center;
    //             white-space: break-spaces;
    //             cursor: text;
    //         }

    //         &:invalid {
    //             outline: 2px solid #e74c3c;
    //             & ~ label::before {
    //                 content: "Invalid";
    //                 position: absolute;
    //                 color: #e74c3c;
    //                 right: -25%;
    //             }
    //         }
    //         &:not(:placeholder-shown) ~ label {
    //             transform: scale(.8) translate(0, calc(-100% - 4px));
    //             color: white;
    //             cursor: default;
    //         }       
    //         option {
    //             color: black;
    //             &:hover {
    //                 background-color: $accent-yellow;
    //             }
    //         }
    //     }
    //     select {
    //         padding: 0;
    //         text-indent: 2px;
    //     }
    //     textarea {
    //         box-sizing: content-box;
    //         resize: none;
    //         outline: none;
    //         height: 42px;
    //         // font-size: $form-font-size;
    //         // font-family: inherit;
    //         // border-radius: 2px;
    //         // outline: none;
    //         & ~ label {
    //             height: max-content;
    //         }
    //     }
    // }
}

#table-container {
    display: grid;
    place-items: center;
    font-size: clamp(6px, 2vw, 16px);
    width: max-content;
    margin: 1rem auto;
    #roster-table {
        min-width: max-content;
        filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
        .row {
            display: flex;
            width: 100%;
            &:nth-child(odd) {
                background-color: #f6f6f6;
            }
            &:nth-child(even) {
                background-color: #ffffff
            }
            &.day {
                cursor: pointer;
                &:nth-child(4n) {
                    background-color: #f6f6f6;
                }
            }
            &.highlight {
                outline: 2px solid $accent-green;
            }
            &#header {
                font-weight: bold;
                background-color: $primary-black;
                color: white;
                p {
                    border-bottom: 2px solid $secondary-black;
                    border-right: 2px solid $secondary-black;
                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
            p {
                padding: .5em;
                margin: 0;
                flex: 1 1 0px;
                &.date, &.hours {
                    flex-grow: 2;
                }
                // signups
                // hours
            }
        }
        .dropdown-table {
            margin: 2px;
            margin-left: 16px;
            min-width: max-content;

            height: 0px;
            overflow: hidden;
            &.open {
                height: auto;
            }
            p {
                text-align: left;
                &.name { flex-grow: 1; }
                &.datetime { flex-grow: 2; }
                &.email { flex-grow: 2; }
                &.phone { flex-grow: 1; }
            }
        }
    }
    #csv-download {
        margin: 1rem 0;
        margin-left: auto;
    }
}

#reservation-table-container {
    display: grid;
    place-items: center;
    width: 500px;
    max-width: 90vw;

    margin: 0 auto;

    #reservation-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
        .row {
            display: flex;
            // justify-content: space-between;
            &:not(.header) { margin-bottom: 4px; }
            &:last-of-type { margin-bottom: 0; }
            &:nth-child(odd) {
                background-color: #f6f6f6;
            }
            &:nth-child(even) {
                background-color: #ffffff
            }
            &.header {
                font-weight: bold;
                background-color: $primary-black;
                color: white;
                p {
                    border-bottom: 2px solid $secondary-black;
                    border-right: 2px solid $secondary-black;
                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
            .date-label, p {
                padding: .5em;
                margin: 0;
                margin-right: auto;
            }
            .btn {
                border: none;
                background-color: transparent;
                margin: 0;
                padding: 0 .5rem;
                &.reservation-edit-btn {
                    color: #27ae60;
                }
                &.reservation-save-btn {
                    color: #27ae60;
                    display: none;
                    visibility: hidden;
                }
                &.reservation-cancel-btn {
                    color: #e74c3c;
                    display: none;
                    visibility: hidden;
                }
                &.reservation-delete-btn {
                    color: #34495e;
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }

    #new-prayer-day-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        p {
            margin: 0;
            text-align: left;
        }
        .row {
            display: flex;
            justify-content: space-between;
            padding: .5rem 0;
        }
    }
}