@font-face {
	font-family: proxima-nova, sans-serif;
	src: url('../../assets/Proxima\ Nova\ Font.otf') format('opentype');
}
@font-face {
	font-family: Tropoline;
	src: url('../../assets/Tropiline-Black.otf') format('opentype');
}


body,
html {
	font-family: Tropoline;
	min-height: 100vh;
	width: 100%;
	max-width: 100vw;
	display: flex;
	flex-direction: column;

	background-color: $accent-blue;

	overflow-x: hidden;
}
p, ol, ul, li {
	font-family: proxima-nova;
}