$accent-red: #f04215;
$accent-blue: #fee32d;
$accent-green: #2ecc71;
// $accent-blue: #F3EB1A;
// $accent-blue: #0eb2f1;
$primary-black: #2e2d2b;
$primary-black-transparent: #2e2d2bAA;
$primary-gray: #7f8c8d;
$primary-white: #f5eee3;
$secondary-white: #f7f1e3;